<%= link_to 'New Image', new_image_path, class: 'link-button' %>
<h1>Images Home Page</h1>

<div class="images-container">
  <ul class="image-list">
    <% @images.each do |image| %>  <!-- Loop over each image in @images -->
      <li class="image-list-item">
        <div class="content-wrapper">
          <% if image.file.attached? %>
            <!-- Image wrapped in link to show image page -->
            <%= link_to image_path(image) do %>
              <% variant = image.file.variant(resize_to_limit: [200, 150]).processed %>
              <%= image_tag(variant, class: 'image') %>
            <% end %>
            <!-- Display the image name -->
            <h3 class="image-name"><%= image.name %></h3> <!-- Assuming 'name' is the attribute -->
          <% else %>
            <p>No image available</p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="pagination">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
</div>
