<%= link_to 'New Image', new_image_path, class: 'link-button' %>
<%= link_to 'Search Images', search_images_path, class: 'link-button' %>
<%= link_to 'Batch Upload', directory_browser_index_path, class: 'link-button' %>
<h1>Images Home Page</h1>

<div class="images-container">
  <div class="images-grid">
    <% @images.each do |image| %>
      <div class="image-card">
        <%= image_tag image.file, class: 'image-preview' if image.file.attached? %>
        <div class="image-info">
          <h3><%= image.name %></h3>
          <p><%= image.description %></p>
          <div class="image-actions">
            <%= link_to 'View', image, class: 'action-link' %>
            <%= link_to 'Edit', edit_image_path(image), class: 'action-link' %>
            <%= button_to 'Delete', image, method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%== pagy_nav(@pagy) %>
</div>
