<%= link_to 'Back to Images', images_path, class: 'link-button' %>

<h1>New Image</h1>

<%= form_with model: @image, local: true, html: { multipart: true, class: "form-container" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :generate_name_and_description, 'Generate name and description' %>
    <%= form.check_box :generate_name_and_description %>
  </div>

  <div>
    <%= form.file_field :file, multiple: false, direct_upload: false, required: true %>
    <%= form.submit "Upload", class: 'link-button', data: { disable_with: 'Uploading...' } %>
  </div>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
